{% extends "base.html" %}                         

{% block main %}
    <style>
        img {
            width: 290px;
            height: 180px;
            position: relative;
            border: 0.5px solid rgb(255, 255, 255);
        }
        .text {
            width: 300px;
            position: absolute;
            font-size: 17px;
            left: 310px;
            top: 0px;
            border-left: 0.5px solid;
            padding-left: 5px;
            margin-left: 5px;
        }
        .block {
            position: relative;
            padding-bottom: 25px;
        }
        .list1 {
            position: absolute;
            top: 70px;
        }
        .list2 {
            position: absolute;
            right: 370px;
            top: 70px;
        }
    </style>
    <div class="list1">
        <div class="block">
            <img src="{{url_for('static', filename='Astra.jpg')}}">
            <div class="text">
                <i>Астра</i>  — Листья у них мелкие, темно-зеленые. Центральный стебель очень прочный, покрытый многочисленными волосками.
                Соцветия – корзинки диаметром от 2 (мелкие) до 18 (очень крупные) см. Цветки могут быть простыми, полумахровыми или махровыми.
                Окраска их – однотонная или двух-трехцветная включает все цвета радуги.
                Растут многолетние астры в виде куста, форма которого может быть колонновидной, овальной, круглой шаровидной, пирамидальной, и раскидистой.
            </div>
        </div>
        <div class="block">
            <img src="{{url_for('static', filename='lilija.jpg')}}">
            <div class="text">
                <i>Лилия</i>  — род многолетних луковичных растений семейства Лилейные. Всего в роду чуть более сотни видов, родом из Азии и Северной Америки.
                Лилии – растения травянистые, с прямостоячими стеблями, высотой от 60 до 180 см. Луковицы голые или чешуйчатые, яйцевидной или округлой формы, 
                они не похожи на луковицы амариллисов – состоят из небольших долек, плотно прилегающих друг к другу. Корни у лилий отходят от донца мощным пучком 
                – белого цвета.
        </div>
        <div class="block">
            <img src="{{url_for('static', filename='othideja.jpg')}}">
            <div class="text">
                <i>Орхидея</i>  —  моноподиальное растение с сильно укороченным стеблем. Листья широкие, кожистые, вечнозеленые, простые, эллиптической формы, 
                длиной 5-30 см, расположены поочередно. У некоторых видов орхидей листья обладают необычным мраморным рисунком. Корни воздушные, иногда уплощенные, 
                покрыты толстым слоем веламена.
        </div>
    </div>
    <div class="list2">
        <div class="block">
            <img src="{{url_for('static', filename='pion.jpg')}}">
            <div class="text">
                <i>Пион</i>  — Цветок представляет собой густой кустарник, покрытый зелёной (иногда с фиолетовым оттенком) листвой. 
                Сам куст вырастает более чем на 1,5 метра в высоту и в ширину, и живёт около 100 лет.
                Цвет лепестков варьируется от белого до тёмно-фиолетового цвета, проходя через все оттенки розово и красного, 
                а иногда даже жёлтого и оранжевого. В зависимости от сорта и погоды, пион цветёт с конца марта до конца июня.
            </div>
        </div>
        <div class="block">
            <img src="{{url_for('static', filename='tylpan.jpg')}}">
            <div class="text">
                <i>Тюльпан</i>  — Тюльпан - луковичный цветок семейства лилейных. Цветет очень короткое время.
                В строении тюльпана выделяют луковицу, корень, столон, стебель, листья и цветы.
                Плод тюльпана называется коробочка.
            </div>
        </div>
    </div>

{% endblock %}